In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/train.csv', delimiter=";")
df

            sample                              annotation
0               aa                           [(0, 2, 'O')]
1             aala                           [(0, 4, 'O')]
2           aarcca                           [(0, 6, 'O')]
3             abon                           [(0, 4, 'O')]
4             abso                     [(0, 4, 'B-BRAND')]
...            ...                                     ...
27246   №1 кофейни  [(0, 2, 'B-BRAND'), (3, 10, 'B-TYPE')]
27247  №1 кофейник  [(0, 2, 'B-BRAND'), (3, 11, 'B-TYPE')]
27248      №1 пиво   [(0, 2, 'B-BRAND'), (3, 7, 'B-TYPE')]
27249        №1 са   [(0, 2, 'B-BRAND'), (3, 5, 'B-TYPE')]
27250       №1 саш   [(0, 2, 'B-BRAND'), (3, 6, 'B-TYPE')]

[27251 rows x 2 columns]